/* Style for the footer and related footer elements */
footer#bottom{padding:0 1em 1em 1em;font:smaller Arial, Helvetica, sans-serif;}
footer#bottom{border-top:1px solid #999;background:#eee;color:#999;}

footer#bottom nav{float:left;padding-left:0.3em;width:8em;margin-bottom:2em;}
footer#bottom nav h5{margin-bottom:0.5em;}
footer#bottom nav a{display:list-item;list-style:none;}

footer#bottom a{color:inherit;text-decoration:none;}
footer#bottom a:link{}
footer#bottom a:visited{}
footer#bottom a:hover{text-decoration:underline;color:#444;background:none;}
footer#bottom a:active{}

footer#bottom div.final {clear:both;}

/* footer gradient if supported */
footer#bottom{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#eee'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ccc,  #eee); /* for firefox 3.6+ */
}
