/* General settings for fieldset/forms */
fieldset.std{}
fieldset.std legend{}
fieldset.std div.wrap{}
fieldset.std div.buttonbar{clear:both;margin-top:1em;}
fieldset.std output{clear:both;display:block;padding:1em 0 1em 0;font-size:smaller;font-style:italic;}

fieldset.std label{text-align:left;}

fieldset.std select,
fieldset.std input,
fieldset.std textarea{font:inherit;}

/*fieldset.std textarea.code{font:small lucida console,monaco,monospace;height:10em;}*/
fieldset.std textarea.code{font:small courier new,courier,monospace;height:10em;}
fieldset.std textarea.code-large{font:small courier new,courier,monospace;height:20em;}
fieldset.std textarea.code-xlarge{font:small courier new,courier,monospace;height:30em;}

fieldset.std input[readonly],
fieldset.std textarea[readonly] {color:#999;}

/* Standard width */
fieldset.std div.wrap50{width:50%;}
fieldset.std div.wrap60{width:60%;}
fieldset.std div.wrap70{width:70%;}

/* Type1, standard form layout */
fieldset.type1 div.wrap{margin:auto;margin-top:1em;}
fieldset.type1 input{float:right;}
fieldset.type1 label{display:block;height:2em;}

/* Type2, standard form layout */
fieldset.type2 div.wrap{margin:auto;margin-top:1em;}
fieldset.type2 input[type=text],
fieldset.type2 textarea {width:100%;font-size:larger;}
fieldset.type2 div.buttonbar input{float:right;}
fieldset.type2 label{display:block;margin-top:1em;font-size:smaller;}

/* Type21, standard form layout */
fieldset.type21 div.wrap{margin:auto;margin-top:1em;}
fieldset.type21 div.wrap1{width:30%;float:left;margin-right:1em;}
fieldset.type21 div.wrap2{width:65%;float:left;}
fieldset.type21 select{width:100%;font-size:larger;}
fieldset.type21 input[type=text],
fieldset.type21 textarea {width:100%;font-size:larger;}
fieldset.type21 div.wrap2 div.buttonbar input{float:right;}
fieldset.type21 label{display:block;margin-top:1em;font-size:smaller;}

