/* nav sidemenu */

nav.sidemenu{}
nav.sidemenu a{display:list-item;list-style:none;font-size:smaller;}
nav.sidemenu a:hover,
nav.sidemenu a#sel{background:#eee;}

nav.sidemenu a.header{font-weight:bold;margin-bottom:1em;}
nav.sidemenu a.subheader{margin-top:1em;font-weight:bold;}
