/* navbar, mainmenu */

nav.mainmenu{
	overflow:auto;
	margin:0;
	padding:2px 90px 2px 25px;
	font:12px verdana,geneva,sans-serif;
	background-color:#aaa;
	border:1px solid #eee;
	border-left:0;
	border-right:0;
}
nav.mainmenu a{
	float:left;
	text-decoration:none;
	padding:7px 10px 7px 10px;
	color:#222;
	border-left:1px solid #ccc;
}
nav.mainmenu a:last-child{border-right:1px solid #ccc;}
nav.mainmenu a:hover,nav a#sel{background:#ccc;}

