/* phpmedes: style/core/print.css */
/* for printing */

body{background:white !important;font-size:12pt;}
header#top,footer#bottom,aside,.noprint{display:none !important; }
div#wrap,article,section{
	width: auto !important;
	border: 0;
	margin: 0;
	padding: 0;
	color: black; 
	background: transparent;
	float: none !important;
	overflow: visible !important;
}
