/* Default stylesheet for phpmedes */

@import url(module/basic_structure.css);
@import url(module/phpmedes_logo.css);
@import url(module/choose_style.css);
@import url(module/nav_mainmenu.css);
@import url(module/nav_breadcrumb.css);
@import url(module/footer.css);

body{font-family:georgia,serif;}

/* color silver, from darkest to lightest */
/* col1 #222 */
/* col2 #444 */
/* col3 #999 */
/* col4 #aaa */
/* col5 #ccc */
/* col6 #eee */


/* color profile */
/* col1 #550000 */
/* col2 #ff8080 */
/* col2 #ffaaaa */
/* col3 #ffd5d5 */
/* col4 #ffe3e3 */

/* Change colors-scheme
body{color:$col1;}
div.logo p#label{text-shadow: 1px 1px 1px $col1, -1px -1px 1px $col1;color:$col2;}
div.logo p#tagline{color:$col1;}

nav.mainmenu{background:#aaa;border:1px 0px 1px 0px solid #eee;}
nav.mainmenu a{color:#222;border-left:1px solid #ccc;}
nav.mainmenu a:last-child{border-right:1px solid #ccc;}
nav.mainmenu a:hover,nav a#sel{background:#ccc;}

nav.mainmenu{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#999'); 
background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999)); 
background: -moz-linear-gradient(top,  #ccc,  #999); 
}

footer#bottom{border-top:1px solid #999;background:#eee;color:#999;}
footer#bottom a:hover{ text-decoration:underline;color:#333333;background:none;}
footer#bottom{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#eee'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee)); 
	background: -moz-linear-gradient(top,  #ccc,  #eee);
}

*/




