/* phpmedes: a blue style */

@import url(stylesheet_default.css);

/* color blue: background & borders */
/* col1 #003 */
/* col2 #005 */
/* col3 #55f */
/* col4 #88f */
/* col5 #aaf */
/* col6 #eef */

body{color:#003;}

div.logo p#label{text-shadow: 1px 1px 1px $col1, -1px -1px 1px #003;color:#005;}
div.logo p#tagline{color:#003;}

aside{border-color:#eef !important;}

nav.mainmenu{background:#88f;border:1px 0px 1px 0px solid #eef;}
nav.mainmenu a{color:#003;border-left:1px solid #aaf;}
nav.mainmenu a:last-child{border-right:1px solid #aaf;}
nav.mainmenu a:hover,nav a#sel{background:#aaf;}

nav.mainmenu{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaf', endColorstr='#55f'); 
background: -webkit-gradient(linear, left top, left bottom, from(#aaf), to(#55f)); 
background: -moz-linear-gradient(top,  #aaf,  #55f); 
}

footer#bottom{border-top:1px solid #55f;background:#efe;color:#55f;}
footer#bottom a:hover{ text-decoration:underline;color:#005;background:none;}
footer#bottom{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaf', endColorstr='#eef'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#aaf), to(#eef)); 
	background: -moz-linear-gradient(top,  #aaf,  #eef);
}

a:hover{color:#003;background:#eef;}