/* phpmedes: a silver style */

@import url(stylesheet_default.css);

/* color silver, from darkest to lightest */
/* col1 #222 */
/* col2 #444 */
/* col3 #999 */
/* col4 #aaa */
/* col5 #ccc */
/* col6 #eee */

nav.mainmenu{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#999'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999)); 
	background: -moz-linear-gradient(top,  #ccc,  #999); 
}

footer#bottom{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#eee'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#eee)); 
	background: -moz-linear-gradient(top,  #ccc,  #eee);
}
