/* phpmedes: a green style */

@import url(stylesheet_default.css);

/* color green: background & borders */
/* col1 #030 */
/* col2 #050 */
/* col3 #5f5 */
/* col4 #8f8 */
/* col5 #afa */
/* col6 #efe */

body{color:#030;}

div.logo p#label{text-shadow: 1px 1px 1px $col1, -1px -1px 1px #030;color:#050;}
div.logo p#tagline{color:#030;}

aside{border-color:#efe !important;}

nav.mainmenu{background:#8f8;border:1px 0px 1px 0px solid #efe;}
nav.mainmenu a{color:#030;border-left:1px solid #afa;}
nav.mainmenu a:last-child{border-right:1px solid #afa;}
nav.mainmenu a:hover,nav a#sel{background:#afa;}

nav.mainmenu{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afa', endColorstr='#5f5'); 
background: -webkit-gradient(linear, left top, left bottom, from(#afa), to(#5f5)); 
background: -moz-linear-gradient(top,  #afa,  #5f5); 
}

footer#bottom{border-top:1px solid #5f5;background:#efe;color:#5f5;}
footer#bottom a:hover{ text-decoration:underline;color:#050;background:none;}
footer#bottom{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afa', endColorstr='#efe'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#afa), to(#efe)); 
	background: -moz-linear-gradient(top,  #afa,  #efe);
}
a:hover{color:#030;background:#efe;}