/* phpmedes: a red style */

@import url(stylesheet_default.css);

/* color red: background & borders */
/* col1 #300 */
/* col2 #500 */
/* col3 #f55 */
/* col4 #f88 */
/* col5 #faa */
/* col6 #fee */

body{color:#300;}
div.logo p#label{text-shadow: 1px 1px 1px $col1, -1px -1px 1px #300;color:#500;}
div.logo p#tagline{color:#300;}

aside{border-color:#fee !important;}

nav.mainmenu{background:#f88;border:1px 0px 1px 0px solid #fee;}
nav.mainmenu a{color:#300;border-left:1px solid #faa;}
nav.mainmenu a:last-child{border-right:1px solid #faa;}
nav.mainmenu a:hover,nav a#sel{background:#faa;}

nav.mainmenu{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa', endColorstr='#f55'); 
background: -webkit-gradient(linear, left top, left bottom, from(#faa), to(#f55)); 
background: -moz-linear-gradient(top,  #faa,  #f55); 
}

footer#bottom{border-top:1px solid #f55;background:#fee;color:#f55;}
footer#bottom a:hover{ text-decoration:underline;color:#500;background:none;}
footer#bottom{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa', endColorstr='#fee'); 
	background: -webkit-gradient(linear, left top, left bottom, from(#faa), to(#fee)); 
	background: -moz-linear-gradient(top,  #faa,  #fee);
}
a:hover{color:#300;background:#fee;}
