/* phpmedes: style/core/screen_compatibility.css */
/* actual stylesheet to use, gathers all other styles into one stylesheet */

@import url(reset.css);
@import url(grid.css);
@import url(typography.css);
@import url(forms.css);
@import url(general.css);


/*body{font-family:georgia,serif;}*/

/* Default color map is silver */
/* color silver, from darkest to lightest */
/* col1 #222 */
/* col2 #444 */
/* col3 #999 */
/* col4 #aaa */
/* col5 #ccc */
/* col6 #eee */

/* color sheme silver: fonts */
/* font ordinary font1 #222 */
/* font lighter  font2 #999 */
/* font inverted font3 #fff */

/*
body{color:#222;}
div.logo p#label{text-shadow: 1px 1px 1px #222, -1px -1px 1px #222;color:#444;}
div.logo p#tagline{color:#222;}

aside{border-color:#eee !important;}

nav.mainmenu{background:#aaa;border:1px solid #eee;border-left:0;border-right:0;}
nav.mainmenu a{color:#222;border-left:1px solid #ccc;}
nav.mainmenu a:last-child{border-right:1px solid #ccc;}
nav.mainmenu a:hover,nav a#sel{background:#ccc;}

footer#bottom{border-top:1px solid #999;background:#eee;color:#999;}
footer#bottom a:hover{ text-decoration:underline;color:#444;background:none;}
a:hover{color:#222;background:#eee;}
*/
