/* Stylesheet for phpmedes logotype */
div.logo{font-family:serif;font-weight:bold;width:175px;height:60px;}

div.logo p#label{font-size:50px;margin:0;text-shadow: 1px 1px 1px #222, -1px -1px 1px #222;color:#444;}
div.logo p#tagline{position:relative;top:-22px;left:100px;color:#222;font-size:14px;}
