/* Stylesheet for phpmedes logotype */
div.logo{font-family:serif;width:175px;height:60px;}

#kurs{font-size:50px;margin:0;text-shadow: 1px 1px 1px #faa, -1px -1px 1px #faa;color:#700;}
#tagline{position:relative;top:-22px;left:100px;color:#faa;font-size:14px;}
