/* Stylesheet for phpmedes logotype */
div.logo{position:relative;font-family:serif;font-weight:bold;width:300px;height:70px;line-height:1px;}

div.logo p#label{position:absolute;top:-20px;left:0;font-size:50px;text-shadow: 1px 1px 1px #222, -1px -1px 1px #222;color:#444;}
div.logo p#tagline{position:absolute;top:40px;left:100px;color:#222;font-size:14px;}
